body{
    width: 1000px;
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
}
.blacklist-header{
    background-color: #faf9ac;
    text-align: center;
    border: 10px solid transparent;

}
.blacklist-header h3{
    margin:0;
    background-color: none;
}

.blacklist-body{
    width: 100%;
    display:table;
    border-collapse:collapse;
    padding: 0px;
}
.blacklist-wrapper{
    display:table-row;
}
.blacklist-col-left a {
    color: white;
    text-decoration: none;

}
.blacklist-col-left{

    width: 20%;

    background-color: #2566a8;

    display:table-cell;

}


.blacklist-col-center{
    width: 80%;

    color: #333333;
    display:table-cell;

}
.blacklist-left{
    width: 100%;
}
.blacklist-left a{
    display: inline-block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
    width:70%;
    margin:10px 20px;
}
.blacklist-left a:hover{
    background: rgba(255,255,255,.2);
}
.blacklist-left a:active {
    background: white;
}

div.blacklist-check-wrapper{
  padding: 20px;

}
div.blacklist-check-wrapper span{
    color: #c40000;
    font-size: 1.1em;
}
span.blacklist-span-red{
    color: #c40000;
    font-size: 1.2em;
}

table.blacklist-table{
    width:100%;
}
table.blacklist-table tr,
table.blacklist-table th,
table.blacklist-table td {
    border:1px #d6d6d6 solid;
    padding:5px 10px;
}

table.blacklist-table th{
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}
input.blacklist-submit{

    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor:pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.blacklist-submit-button{
    padding:5px;
}
input[type="submit"]:active{
    border-color: #007bff;
    border: 1px solid transparent;

}

input[type="submit"]:hover{
    border-color: #1042ff !important;
    border: 2px solid transparent;

}

