

<div class="blacklist-left">
    <div>
        <form action="/index.php" method="post" enctype="text/html">

        <input type="hidden" name="command" value="check" />

        <a  href="#" onclick="event.preventDefault(); this.parentNode.submit()">Проверить</a>

        </form>
    </div>

    <div>
        {% if allow_edit == 1 %}
            <form action="/index.php" method="post" enctype="text/html">

                <input type="hidden" name="command" value="add" />

                <a  href="#" onclick="event.preventDefault(); this.parentNode.submit()">Добавить</a>

            </form>
        {% endif %}

    </div>

    <div>
        {% if allow_edit == 1 %}
           <form action="/index.php" method="post" enctype="text/html">

                <input type="hidden" name="command" value="addFromFile" />

                <a  href="#" onclick="event.preventDefault(); this.parentNode.submit()">Добавить из файла</a>

            </form>
        {% endif %}

    </div>
    <!--div>
        {% if  user_id == '3' %}
            <form action="/index.php" method="post" enctype="text/html">

                <input type="hidden" name="command" value="delete" />

                <a  href="#" onclick="event.preventDefault(); this.parentNode.submit()">Удалить по ID</a>

            </form>
        {% endif %}

    </div-->

    <div>

            <form action="/index.php" method="post" enctype="text/html">

                <input type="hidden" name="command" value="toExcel" />

                <a  href="#" onclick="event.preventDefault(); this.parentNode.submit()">Выгрузить в excel </a>

            </form>


    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div>
        <form action="/index.php" method="post" enctype="text/html">

            <input type="hidden" name="command" value="documentation" />

            <a  href="#" onclick="event.preventDefault(); this.parentNode.submit()">Справка</a>

        </form>
    </div>

    <div>

        <form action="/index.html" method="post" enctype="text/html">

            <input type="hidden" name="command" value="exit" />

            <a  href="#" onclick="event.preventDefault(); this.parentNode.submit()" style="text-align: center">ВЫХОД</a>

        </form>


    </div>

</div>