<div class="blacklist-left">
    <div>
        <form action="/index.php" method="post" enctype="text/html">

        <input type="hidden" name="command" value="check" />

        <a  href="#" onclick="event.preventDefault(); this.parentNode.submit()">Проверить</a>

        </form>
    </div>

    <div>
        {% if allow_edit == 1 %}
            <form action="/index.php" method="post" enctype="text/html">

                <input type="hidden" name="command" value="add" />

                <a  href="#" onclick="event.preventDefault(); this.parentNode.submit()">Добавить</a>

            </form>

        {% endif %}
    </div>

    <div>
        {% if allow_edit == 1 %}
            <form action="/index.php" method="post" enctype="text/html">

                <input type="hidden" name="command" value="addFromFile" />

                <a  href="#" onclick="event.preventDefault(); this.parentNode.submit()">Добавить из файла</a>

            </form>

        {% endif %}
    </div>


    <div>
        {% if allow_edit == 1 %}
            <form action="/index.php" method="post" enctype="text/html">

                <input type="hidden" name="command" value="toExcel" />

                <a  href="#" onclick="event.preventDefault(); this.parentNode.submit()">Выгрузить в excel</a>

            </form>

        {% endif %}
    </div>



</div>