<div class="blacklist-check-wrapper">
    <h3>Справка</h3>
<h4>Общие положения</h4>
    <p>Настоящий сайт предназначен для проверки клиентов по черным спискам. <br/>
       Использование предусмотрено как для проверки в ручную, так и для автоматической проверки при продаже полисов on-line с подключением к API сайта.</p>
    <p>При входе в программу требуется вводить логин и пароль.
        Все менеджеры, имеющие доступ к программе получают права или редактора или администратора.  </p>
    <p>Доступ менеджера на правах редактора позволяет делать:  </p>
    <ul>
        <li>проверку клиента</li>
        <li>выгрузку всех клиентов</li>

    </ul>

    <p>Доступ менеджера на правах администратора позволяет делать:  </p>
    <ul>
        <li>проверку клиента</li>
        <li>выгрузку всех клиентов</li>
        <li>добавление клиента</li>
        <li>добавление клиентов из файла</li>
    </ul>

    <h4>Проверка клиента</h4>

    <h5><strong>Ручной режим</strong></h5>
    <p>При проверке клиента в ручном режиме достаточно ввести лишь один из параметров, например, год или вид страхования, или только начало фамилии, чтобы получить список клиентов из базы при наличии совпадений.
    </p>
    <p>Если будет введена часть фамилии, то выборка будет по всем фамилиям, содержащим эту часть фамилии.
        Например, если ввели "еева", то на экран выводится список: Фадеева, Фадзеева. Программа работает аналогично с именами и отчествами. Для того, чтобы выборка была только для определенного вида страхования, следует выбрать нужный вид из выпадающего списка.</p>

    <h5><strong>Автоматический режим</strong></h5>
    <p>При проверке клиента в on-line режиме необходимо подключить проверку к API данного сайта.  </p>

    <h4>Добавить клиента</h4>
    <p>Добавить клиента могут менеджеры, обладающие правами администратора.</p>
    <p>Поля, отмеченные звездочками, являются обязательными. </p>
    <p>В поле комментарий следует написать тот текст, который должен получить данный клиент при попытке страховаться on-line. Для того, чтобы в тексте появились ссылки, интерактивные email или телефон, данный текст нужно сформировать как html.
    Пример такого текста с тегами html: </p>
    <span>Для пролонгации полиса ДМС необходимо связаться с менеджером Симановой Аленой – по тел.&lt;a href='tel:88126110297#2476'&gt; (812) 611-02-97 доб.2476&lt;/a&gt; email: &lt;a href='email:simanovaav@guideh.com'&gt;simanovaav@guideh.com&lt;/a&gt;</span>

    <h4>Добавить клиентов из файла</h4>
    <p>Большие списки клиентов для загрузки в базу данных удобно формировать отдельными списками.

    При этом действует ряд требований к формированию файла. Поэтому предлагается следовать такому порядку:
        <ul>
        <li>создать файл в формате xsl с полями: ФАМИЛИЯ,ИМЯ,ОТЧЕСТВО,ДАТА РОЖДЕНИЯ,ВИД СТРАХОВАНИЯ,КОММЕНТАРИЙ. </li>
        <li>сохранить этот файл в формате csv, выбрав кодировку UTF8 и разделитель ЗАПЯТАЯ (,)  . Обратите внимание! файл следует именовать латиницей. Кириллицу не использовать.</li>
        <li>на странице "Добавить из файла" выберите вид страхования, например, ДМС. Загрузите файл, сначала нажав Обзор... и затем кнопку загрузить.
        </li>
        <li>как проверить, что загружено: выйти на страницу Проверить и ввести любого клиента из списка.</li>

    </ul>
    </p>

    <h4>Выгрузить в Excel</h4>
    <p>Нажать кнопку и выгрузить. Замечание: пока база небольшая, то и выгрузка не большая. Но на формирование excel имеется ограничение по размеру. Поэтому со временем рекомендуется доработать выгрузку с возможностью разбивать по датам введения клиента в базу или видам страхования.</p>

    <h4>Редактирование и удаление данных клиента</h4>
    <p>На странице Проверить выберите нужного клиента, далее нажмите в графе ID ссылку Редактировать для перехода на страницу Редактирования и Удаления данных по выбранному клиенту.</p>
    <p>На этой странице можно отредактировать данные и, нажав кнопку Обновить данные, записать все изменения в базу данных</p>
    <p>Если нужно удалить данные по данному клиенту, то следует написать в поле Причины удаления и нажать кнопку Удалить данные.
    В этом случае данные из базу удаляться не будут, но по данному клиенту устанавливается признак "Не активен" и клиент сможет
    беспрепятственно покупать страховки он-лайн. Однако, сохраняя данные и ФИО менеджера, удалившего клиента, можно восстановить причину и дату удаления, а также кто это сделал.</p>
</div>