
<div class="blacklist-header">
   <p> <span style="font-size:24px;">Клиенты с ограниченным доступом к страхованию on-line </span> </p>
</div>
<div class="blacklist-body">
    <div class="blacklist-wrapper">
        <div class="blacklist-col-left">
            {% include 'blacklist-left.twig' %}
            {% import  'blacklist-left.twig' as sidebarLeft %}
        </div>
        <div class="blacklist-col-center">
            {% include 'blacklist-center.twig' %}
            {% import  'blacklist-center.twig' as mainContent %}
        </div>

    </div>
</div>

