<div class="blacklist-check-wrapper">



    <table>
        <tbody>
        <tr>
            <td width="50%"><a href="/excel.php" class="blacklist-submit-button excel-button" >Сохранить в Excel</a></td>
            <td width="50%"><h5>Выгрузить всех клиентов в excel    (toExcel)</h5></td>
        </tr>

        <tr>
            <td width="50%"><a href="/excelDMS.php" class="blacklist-submit-button excel-button" >Сохранить в Excel</a></td>
            <td width="50%"><h5>Выгрузить всех клиентов ДМС в excel    (toExcel)</h5></td>
        </tr>


        </tbody>
    </table>

</div>