<div class="blacklist-check-wrapper">
    <h3>Выгрузить всех клиентов в файл формата excel    (checkView)</h3><br/><br/>


    <table>
        <tbody>
        <tr>
            <td width="50%"><a href="/excel.php" class="blacklist-submit-button excel-button" >Сохранить в Excel</a></td>
            <td width="50%"><h5>Выгрузить всех клиентов в excel    (toExcel)</h5></td>
        </tr>




        </tbody>
    </table>

</div>